<div class="row" id="proBanner"></div>
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span>
        Dashboard
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview
                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Switch Changing</h4>
                <p class="card-description"></p>
                <div class="row">
                    <div class="col-md-6">
                        <a href="/command/turn on lights"><button class="btn btn-gradient-primary mb-3"
                                style="width: 100%;">Turn On Lights</button></a>
                    </div>
                    <div class="col-md-6">
                        <a href="/command/turn off lights"><button class="btn btn-gradient-warning mb-3"
                                style="width: 100%;">Turn Off Lights</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>