<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Smart Home</title>

    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css" />

    <link rel="stylesheet" href="/assets/css/style.css" />
    <style>
        body {
            background: #f2edf3;
        }
    </style>

</head>

<body>
    <div class="row">
        <div class="col-md-4 grid-margin stretch-card"
            style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Login</h4>
                    <p class="card-description"></p>
                    <form class="forms-sample" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="username">Passowrd</label>
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>

                        <button type="submit" class="btn btn-gradient-primary mr-2">Login</button>
                        <button class="btn btn-light">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>